@charset "utf-8";

.navbar-animate {
    animation-delay: 3s;
}

.grow {
    width: 50%;
    height: 50%;
    -webkit-transition: 2s; /* Safari */
    transition: 2s;

}

.grow:hover {
    width: 100%;
    -ms-transform: rotate(35deg); /* IE 9 */
    -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
    transform: rotate(35deg);
}

.circle {
    background: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.testimonial-circle {
    background: #ffffff;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.testimonial-text {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.testimonial-img {
    margin-left: 5px;
    margin-top: 5px
}

.slider-border {

    border: 0px solid #ddd;
    border-radius: 0px;

}


/*Biography Tabs*/

.nav-tabs {
    border-bottom: 2px solid #DDD;
    background-color: rgb(30, 181, 197);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #ed7101 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #ffffff;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 0px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
    margin-bottom: 30px;
}

.active {
    color: #8b8b8b;
}

.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

/* Clear Floated Elements
---------------------------------*/
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Primary Styles
---------------------------------*/

.orange {
    font-size: 34px;
    color: rgba(237, 113, 1, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.blue {
    font-size: 34px;
    color: #1C6F6F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.sm-orange {
    font-size: 14px;
    color: rgba(237, 113, 1, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.sm-blue {
    font-size: 14px;
    color: #1C6F6F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.sm-teal {
    font-size: 14px;
    color: rgb(30, 181, 197);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.sm-white {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 34px;
    color: #1C6F6F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1C6F6F;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

.h6-script {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

.header {
    text-align: center;
    background: url(../img/lighthouse.jpg);
    background-size: cover;;

}

.color {
    display: block;
    height: 300px;
    width: 300px;
    line-height: 60px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
}

.header-text {
    margin: 50%;
}

.logo {
    padding-top: 20%;
    padding-left: 5%;
    width: 300px; /*SET your width here*/
    margin: 0 auto;
    vertical-align: bottom;
}

.logo-title {
    padding-top: 5%;
    margin: 0 auto;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0 0 0px 0;
    color: #1C6F6F;
}

.we-create {
    padding: 0;
    margin: 35px 0 55px;
}

.wp-pic {
    margin-bottom: 20px;
}

.we-create li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 5px 0 0;
    padding: 0 0 0 15px;
}

.we-create li:first-child {
    background: none;
}

.start-button {
    padding-left: 0px;
}

.start-button li a {
    color: #fff;
}

.link {
    padding: 15px 35px;
    background: #1C6F6F;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.link:hover {
    text-decoration: none;
    color: #1C6F6F !important;
    background: #fff;
}

.link:active, .link:focus {
    background: #1C6F6F;
    text-decoration: none;
    color: #fff !important;
}

/* Navigation
---------------------------------*/
@media (min-width: 769px) {
    .main-nav-outer {
        padding: 0px;
        box-shadow: 5px 2px 2px rgb(30, 181, 197);
        position: relative;
        background: rgba(255, 255, 255, 0.96); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(top, rgb(30, 181, 197), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(30, 181, 197)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, rgb(30, 181, 197), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(30, 181, 197)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, rgb(30, 181, 197), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(30, 181, 197)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(top, rgb(30, 181, 197), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(30, 181, 197)); /* Standard syntax */
    }
}

@media (max-width: 768px) {
    .main-nav-outer {
        padding: 0px;
        /*border-top: 1px solid rgba(30, 181, 197, 0.96);*/
        /*border-bottom: 1px solid rgba(237, 113, 1, 0);*/
        box-shadow: 0 0px 0px 0px #ececec;
        position: relative;
        background: rgba(255, 255, 255, 0.96); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left top, rgb(30, 181, 197), rgb(30, 181, 197), rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(30, 181, 197, 1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, rgb(30, 181, 197), rgb(30, 181, 197), rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(30, 181, 197, 1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, rgba(30, 181, 197, 1), rgb(30, 181, 197), rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(30, 181, 197, 1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, rgba(30, 181, 197, 1), rgb(30, 181, 197), rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(30, 181, 197, 1)); /* Standard syntax */
    }
}

.main-nav {
    text-align: center;
    margin: 0px 0 0px;
    padding: 0;
    list-style: none;
}

.main-nav li {
    display: inline;
    margin: 0 1px;
}

.main-nav li a {
    display: inline-block;
    color: #1C6F6F;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 17px;
    margin: 17px 32px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.main-nav li a:active {
    text-underline-color: #ED7101;
}

.small-logo {
    padding: 0 32px;
}

.main-section {
    padding: 0px 0 0px;
}

/* Services
---------------------------------*/

.service-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.service-list-col1 {
    float: left;
    width: 60px;
}

.service-list-col1 i {
    font-style: normal;
    font-size: 38px;
    display: block;
    color: #222;
    font-family: 'FontAwesome';
    line-height: 38px;
}

.service-list-col2 {
    overflow: hidden;
}

.main-section.alabaster {
    background: #ffffff;
}

/* Featured Work
---------------------------------*/
.testimonial-work {
    font-size: 14px;
}

.testimonial-work h2 {
    text-align: left;
}

.testimonial-box {
    padding: 0 0 0 0;
    margin-bottom: 25px;
    font-size: 14px;
}

.testimonial-box h3 {
    margin-bottom: 5px;
}

.testimonial-box p {
    line-height: 22px;
}

.testimonial-work p.padding-b {
    padding-bottom: 35px;
}

.featured-box-col1 {
    width: 60px;
    float: left;
}

.featured-box-col1 i {
    display: block;
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    color: #777777;
    font-style: normal;
}

.featured-box-col2 {
    overflow: hidden;
}

/* Testimonial Slider */

.carousel-indicators,
.active {

}

.carousel-padding {
    padding-bottom: 60px;
}

.content {
    margin-top: 20px;
}

.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.adjust2 {
    margin: 0;
}

.carousel-indicators li {
    border: 1px solid #ccc;
}

.carousel-control {
    color: #31708f;
    width: 5%;
}

.carousel-control:hover, .carousel-control:focus {
    color: #31708f;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.media-object {
    margin: auto;
    margin-top: 15%;
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}

.Learn-More {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #1C6F6F;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: none;
}

.Learn-More i {
    padding-right: 15px;
}

.Learn-More:hover, .Learn-More:focus {
    text-decoration: none;
    color: #111;
}

/* Portfolio
---------------------------------*/
.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: #1C6F6F;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
}

.Portfolio-box {
    text-align: center;
    margin-bottom: 30px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 0;
}

.Portfolio-box img {
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background: #1C6F6F;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.main-section.paddind {
    padding-bottom: 60px;
}

/* Clients
---------------------------------*/

.client-part-haead {
    color: #fdfdfd;
    font-size: 28px;
    line-height: 41px;
    margin: 30px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.client {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    text-align: center;
}

.client li {
    display: inline;
    margin: 0 15px;
}

.client li a {
    display: inline-block;
}

.client li a img {
    margin-bottom: 15px;
    border-radius: 50%;
}

.client li a:hover {
    text-decoration: none;
}

.client li a h3 {
    color: #ffffff;
}

.client li a span {
    color: #f1f1f1;
}

.quote-right {
    font-style: normal;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    border: 2px solid #1C6F6F;
    border-radius: 50%;
    display: block;
    line-height: 68px;
    text-align: center;
    font-size: 27px;
    color: #1C6F6F;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.quote-right:hover {
    color: #fff;
    border: 2px solid #fff;
}

.c-logo-part {
    padding: 25px 0;
    background: rgba(255, 255, 255, 0.96); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 1), rgba(237, 113, 1, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 1), rgba(237, 113, 1, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 1), rgba(237, 113, 1, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 1), rgba(237, 113, 1, 1)); /* Standard syntax */

}

.c-logo-part ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.c-logo-part ul li {
    display: inline;
    margin: 0 25px;
}

.c-logo-part ul a {
    display: inline-block;
    margin: 0 20px;
}

/* Team
---------------------------------*/
.team-leader-block {
    max-width: 993px;
    margin: 0 auto;
}

.team-leader-box {
    width: 80%;
    margin-right: 3.82979%;
    height: 490px;
    overflow: hidden;
    text-align: center;
    float: left;
}

.team-leader-box span {
    margin-bottom: 24px;
    display: block;
}

.team-leader-box:nth-of-type(3n+0) {
    margin: 0;
}

.team-leader {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7px rgb(30, 181, 197);
    margin: 7px 7px 25px 7px;

}

.team-leader-shadow {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 50%;
}

.team-leader-shadow a {
    display: block;
    width: 100%;
    height: 100%;
}

.team-leader:hover .team-leader-shadow {
    box-shadow: inset 0px 0px 0px 148px rgba(17, 17, 17, 0.80);
}

.team-leader:hover ul {
    display: block;
    opacity: 1
}

.team-leader img {
    display: block;
    border-radius: 50%;
}

.team-leader ul {
    display: block;
    opacity: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -14px;
    z-index: 15;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.team-leader ul li {
    display: inline;
    margin: 0 11px;
}

.team-leader ul li a {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 28px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.team-leader ul li a:hover, .team-leader ul li a:focus {
    text-decoration: none;
}

.team-leader ul li a.fa-twitter:hover {
    color: #55acee;
}

.team-leader ul li a.fa-facebook:hover {
    color: #3b5998;
}

.team-leader ul li a.fa-pinterest:hover {
    color: #cb2026;
}

.team-leader ul li a.fa-google-plus:hover {
    color: #dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 70px;
    text-transform: uppercase;
    font-size: 42px;
    color: #fff;
}

/* Contact
---------------------------------*/

.contact-anchor:target {
    padding-top: 400px;
}

.main-section.contact {
    padding: 0px 40px 40px;
}

.main-section.contact {
    background: url(../img/bg-map.png) center 190px no-repeat;
}

.contact-info-box {
    font-size: 15px;
    margin: 0 0 14px 68px;
    padding-left: 0;
}

.contact-info-box h3 {
    font-size: 15px;
    font-weight: 400;
    float: left;
    width: 102px;
    margin-right: 12px;
    line-height: 28px;
}

.contact-info-box h3 i {
    font-style: normal;
    font-size: 18px;
    color: #222222;
    font-family: 'FontAwesome';
    font-weight: normal;
    margin-right: 7px;
}

.contact-info-box span {
    line-height: 28px;
    display: block;
    overflow: hidden;
}

.social-link {
    padding: 35px 0;
    margin: 0 0 0 68px;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social-link li {
    float: left;
    margin-right: 8px;
}

.social-link li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #222222;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social-link li a:hover, .social-link li a:focus {
    text-decoration: none;
}

.twitter a:hover {
    background: #55acee;
}

.facebook a:hover {
    background: #3b5998;
}

.pinterest a:hover {
    background: #cb2026;
}

.gplus a:hover {
    background: #dd4b39;
}

.dribbble a:hover {
    background: #ea4c89;
}

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #1C6F6F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 165px;
    resize: none;
    overflow: auto;
}

.input-btn {
    width: 175px;
    height: 50px;
    background: #1C6F6F;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #111;
    color: #fff;
}

/* Footer
---------------------------------*/

.footer {
    padding: 0px;
    position: relative;
    background: rgba(255, 255, 255, 0.04); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(255, 255, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(255, 255, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(255, 255, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgb(255, 255, 255)); /* Standard syntax */
}

.footer-logo {
    margin: 15px auto 35px;
    width: 100px;
}

.copyright {
    color: #000000;
    font-size: 14px;
    display: block;
    text-align: center;
}

.copyright a {
    color: #ed7101;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #fff;
}

.res-nav_click-bars {
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    text-decoration: none !important;
    color: #29a4a4;
    font-style: normal;
    display: none;
    width: 42px;
    height: 27px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
    color: #1C6F6F !important;
}

.portfolioContainer {
    max-width: 1140px;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

/* PARALLAX */
.parallax-container {
    position: relative;
    overflow: hidden;
    background: #ffffff;
}

.ph1 {
    font-weight: 700;
}

.pimg {
    position: absolute;
    min-height: 100%;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    background-size: cover;
}

.pimg2 {
    position: absolute;
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
}

.ph1,
h2 {
    margin: 2rem 2rem 1rem;
    padding: 0
}

.pul, p {
    margin: 0 2rem 2rem;
    padding: 0
}

.a {
    color: white;
}

ul li {
    margin: 0 1rem 0 0;
    padding: 0;
    display: inline-block;
}

.teaser {
    text-align: left;
    height: 100%;
    width: 100%;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2rem;
}

@media (min-width: 769px) {
    .teaser h1 {
        padding-top: 30%;
        margin-top: 10%;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .teaser h1 {
        text-transform: uppercase;
    }
}

.teaser .content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.section-about,
.section-features,
.section-pricing,
.section-video,
.section-portfolio,
.section-testimonial,
.section-contact {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-about,
.section-features,
.section-pricing,
.section-video,
.section-portfolio,
.section-testimonial,
.section-contact {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-testimonial .carousel-indicators {
    bottom: -40px !important;
}

.section-testimonial .testimonial-slide {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}

.section-testimonial .testimonial-slide .image {
    width: 120px;
    height: 120px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.section-testimonial .testimonial-slide {
    color: #f2feff;
}

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: rgb(30, 181, 197);
}

.db-bk-color-two {
    background-color: #1C6F6F;
}

.db-bk-color-three {
    background-color: rgb(30, 181, 197);
}

.db-bk-color-six {
    background-color: #1C6F6F;
}

.bg-orange {
    background-color: rgba(237, 113, 1, 1);
}

.bg-blue {
    background-color: rgb(30, 181, 197);
}

.bg-clear {
    background-color: rgba(237, 113, 1, 0);
}

.bg-teal {
    background: #1C6F6F;
}

/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}

.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}

.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: left;
    padding-left: 3px;
}

.db-pricing-eleven ul li {
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 3px;
}

.db-pricing-eleven .price {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: rgba(237, 113, 1, 1);
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}

/* LinkedIn Box*/
.linkedin-box {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, .5);*/
    margin-bottom: 30px;
    height: 300px;
}

.about-box {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, .5);*/
    margin-bottom: 30px;
    height: 80px;
}
